.careerDescription {
  max-width: 1000px;
  font-weight: 200;
}

.careersHeading {
  font-size: 30px;
  font-family: system-ui;
  font-weight: 300;
}

form {
  width: fit-content;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
}

.formElement {
  display: flex;
  justify-content: start;
  align-items: center;
}

label {
  width: 200px;
}

.careerTextField {
  border-radius: 0px;
  border: 1px solid #9a9a9a;
  height: 28px;
  width: 160px;
  margin-right: 10px;
}

.contactTextField {
  border-radius: 0px;
  border: 1px solid #9a9a9a;
  height: 24px;
  width: 160px;
  margin-right: 10px;
  box-shadow: -1px -1px 1px #3c3c3c;
}

select {
  border-radius: 0px;
  border: 1px solid #9a9a9a;
  height: 24px;
  width: 166px;
  box-shadow: -1px -1px 1px #3c3c3c;
}

select:active {
  border-radius: 0px;
  box-shadow: none;
  border: 1px solid #9a9a9a;
  height: 24px;
  width: 160px;
}

.submitButtonContainer {
  display: flex;
  justify-content: center;
}

button {
  background-color: #eeeeee;
  border: 1px solid #9a9a9a;
  border-radius: 0px;
  text-align: center;
  text-decoration: none;
  padding-left: 16px;
  padding-right: 16px;
  height: 28px;
  margin-right: 16px;
  cursor: pointer;
}

.buttonText {
  margin: 0px;
  font-weight: 700;
  text-align: left;
}

.submitButton {
  font-weight: 700;
  height: 28px;
  width: 120px;
}

.asterisk {
  color: #fd494d;
}

.radiobuttonColumn {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.optionalInfo {
  font-weight: 300;
  font-style: italic;
}

.contactButton {
  background-color: #eeeeee;
  border: 1px solid #9a9a9a;
  border-radius: 0px;
  text-align: center;
  text-decoration: none;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 10px;
  height: 24px;
  box-shadow: 1px 1px 1px #3c3c3c;
}

textarea {
  box-shadow: -1px -1px 1px #3c3c3c;
  border-radius: 0px;
  border: 1px solid #9a9a9a;
  width: 360px;
}

.container {
  height: fit-content;
  width: fit-content;
  box-shadow: 1px 1px 8px #3c3c3c;
  padding: 16px;
}

#topError {
  font-weight: bold;
  color: red;
  font-size: 20px;
  margin-bottom: 16px;
}

#browseButton {
  background-color: #eeeeee;
  border: 1px solid #9a9a9a;
  border-radius: 0px;
  text-align: center;
  text-decoration: none;
  padding-left: 16px;
  padding-right: 30px;
  padding-top: 6px;
  height: 22px;
  width: 50px;
  margin-right: 16px;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
}

.requiredFields {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  .formElement {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
  }

  label {
    width: 150px;
    margin-bottom: 10px;
  }

  input {
    margin-bottom: 10px;
  }

  #browseButton {
    margin-top: 16px;
  }
}
